
@font-size: 20px;
@space: @font-size * 1;

.lightbox {
    .cannot-select;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	font-size: 0;
    cursor: default;

    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .lightbox-container {
        display: inline-block;
        width: 100%;
        font-size: @font-size;
        vertical-align: middle;
    }

    .lightbox-container::before {
        .pseudo-block();
        background: url('images/background2.jpg') center no-repeat;
        background-size: cover;
        opacity: .8;
        z-index: -1000;
    }

    .lightbox-container::after {
        .pseudo-block();
        background: url('images/aperture.png') center no-repeat;
        background-size: cover;
        opacity: .8;
        z-index: -1000;
    }
}

/* =============================================================================
 * = about
 * ===========================================================================*/

.about {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;

    .about-container {
        width: 100%;
        height: 100%;
    }

    .about-header {
        @height: (@font-size * 1.6);
        position: absolute;
        top: -@height;
        height: @height;
        line-height: @height;
    }
}

.about-content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding: @space * 0.6 @space;

    .about-side {
        position: relative;
        float: left;
        width: ~"calc(40% - @{space})";
        height: 100%;
        // background: rgba(1,22,233,.2);
    }

    .about-main {
        float: right;
        width: 60%;
        height: 100%;
        // background: rgba(32,222,1,.2);
    }
}

.about {
    font-size: @font-size;
}

.about-header {
    font-size: 120%;
    line-height: 1.6;
    text-transform: uppercase;
}

.about-content {
    &::before {
        .pseudo-block;
        .frame-border(3px);
        background: rgba(0,0,0,.5);
        // z-index: 0;
    }
}

/* =============================================================================
 * = main
 * ===========================================================================*/

.about-main {
    box-sizing: border-box;
    padding: 0 @space * 0.25;

    .about-main-header {
        font-size: 120%;
        text-transform: uppercase;
    }

    .about-figure {
        height: 50%;
        margin: (@space * 0.5) 0;
    }
}

.about-figure {
    position: relative;

    &::before {
        .pseudo-block;
        border: 2px solid fade(@color-normal, 30%);
    }
}

/* =============================================================================
 * = side
 * ===========================================================================*/

.about-side {
    @footer-height: @font-size * 1.4;

    box-sizing: border-box;
    padding-bottom: @footer-height;
    text-transform: uppercase;

    .about-button:hover {
        background: fade(@color-strong, 40%);
    }

    .about-side-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: @footer-height;
        line-height: @footer-height;
    }
}

.about-side-group {
    margin-bottom: @space * 0.5;

    .group-header {
        color: @color-normal;
    }

    ul.group-list {
        li {
            @height: @font-size * 1.4;
            height: @height;
            line-height: @height;

            &::before {
                content: '►';
                float: left;
                margin-right: 2px;
                font-size: 50%;
                line-height: @height;
                vertical-align: middle;
            }

            &:not(.actived)::before {
                visibility: hidden;
            }
        }
    }
}

.about-side-footer {
    .about-button {
        height: 100%;
        padding: 0 (@space * 0.4);
    }
}

.about-button {
    color: @color-strong;
    cursor: pointer;

    &:hover {
        color: lighten(@color-strong, 25%);
    }
}
