/* Less */
@import "skills.less";

@background: #0b0b15;
@normal: #eee;
@alert: #bf3247;
@gray: #607f93;
@dark: #383c45;
@strong: #3aa5e6;

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;

}

body {
	background: @background;
	color: @normal;
}

p {
	margin: 0;
	padding: 0;
}

.u-cant-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.pointer {
	cursor:pointer;
}
