.skills() {
	/* =========================================================================
 	* = Initial
 	* =======================================================================*/

	// @skill-icon-size    : 100px;
	// @font-normal    : 24px;
	// @skill-border-width : 2px;
	// @tier-aside-width   : 96px;
	// @progressbar-width  : 6px;

	@skill-width  : (@skill-icon-size + @skill-border-width * 2) * 1.5;
	@skill-height : (@skill-icon-size + @skill-border-width * 2) + @font-normal * 1.5;

	@tier-column-width  : @skill-width;
	@tier-width         : @tier-column-width * 2;
	@tier-height        : @skill-height;

	@subtree-width  : @tier-column-width * 2.2;
	@subtree-height : @tier-height * 4 + @font-normal * 6;

	@tree-width  : @subtree-width * 3;
	@tree-heigth : @subtree-height;

	@section-main-width: @tree-width;
	@section-content-height: @tree-heigth;

	@section-box-width: @subtree-width * 3;
	@section-box-height: @tree-heigth;

	/* =========================================================================
	 * = Section
	 * =======================================================================*/

	.section.sections-skill {
		.section-tabs {
			width: @section-box-width;
		}

		.section-content {
			width: @section-main-width;
			height: @section-content-height;

			&:before {
				width: @section-box-width;
				height: @section-box-height;
			}

			&:after {
				width: @section-box-width;
			}
		}

		.section-aside {
			width: ~"calc(100% - @{section-main-width} - @{font-normal})";
			min-height: @section-box-height;
		}
	}

	/* =========================================================================
	 * = Tree
	 * =======================================================================*/

	.tree {
		position: relative;
		width: @tree-width;
	}

	.tree-control {
		width: @tree-width;
		height: @font-normal * 3.6;
		text-align: right;
	}

	/* =========================================================================
	 * = Subtree
	 * =======================================================================*/

	.subtree {
		box-sizing: border-box;
		display: block;
		width: @subtree-width;
		height: @subtree-height;
		padding: (@font-normal * 0.5) ((@subtree-width - @tier-width) / 2);
		font-size: @font-normal;

		.subtree-header,
		.subtree-footer {
			height: @font-normal * 2.5;
			line-height: @font-normal * 2.5;
			text-align: center;
		}
	}

	.subtrees {
		.subtree {
			float: left;
		}
	}

	/* =========================================================================
	 * = Tier
	 * =======================================================================*/

	.tier {
		position: relative;
		width: @tier-width;
		height: @tier-height;
	}

	.subtree-tiers {

	}

	/* =====================================================================
	 * = Skill
	 * ===================================================================*/

	.skill {
		box-sizing: border-box;
		position: relative;
		width: @skill-width;
		height: @skill-height;
		border: @border-width solid transparent;
		cursor: pointer;

		&:hover {
			border-color: @color-normal;
		}
	}

	.tier-skills {
		.skill {
			float: left;

			&:only-child {
				float: none;
				margin: 0 auto;
			}
		}
	}

	/* =========================================================================
	 * = Skill Icon
	 * =======================================================================*/

	.skill-icon {
		display: block;
		position: relative;
		width: @skill-icon-size;
		height: @skill-icon-size;

		canvas, img {
			width: 100%;
			height: 100%;
		}
	}

	.skill {
		.skill-icon {
			margin: 0 auto;
		}

		&.skill-locked:not(:hover) .skill-icon {
			opacity: 0.2;
		}

		&.skill-alerted .skill-icon {
			opacity: 0.75;
		}

		@skill-aced-icon: './images/aced.png';
		@skill-aced-icon-size: @skill-icon-size * 2;
		&.skill-aced {
			.skill-icon::after {
				.pseudo-block-base;
				top: -(@skill-icon-size / 2);
				left: -(@skill-icon-size / 2);
				z-index: -1;
				width: @skill-aced-icon-size;
				height: @skill-aced-icon-size;
				background: url(@skill-aced-icon) no-repeat;
				background-size: @skill-aced-icon-size;
			}
		}
	}

	/* =========================================================================
	 * = Skill Remove
	 * =======================================================================*/

	.skill-remove {
		.icon-remove(@font-normal * 1.2);
		display: none;
	}

	&.skill-owned:hover,
	&.skill-aced:hover {
		.skill-remove {
			display: block;
		}
	}

	/* =====================================================================
	 * = Skill Text
	 * ===================================================================*/

	.skill-text {
		display: block;
		height: @font-normal * 1.5;
		line-height: @font-normal * 1.5;
		text-align: center;
		font-size: @font-normal * 0.8;
		vertical-align: middle;
	}

	.skill:not(:hover) {
		.skill-text-hide {
			display: none;
		}
	}

	.skill:hover {
		.skill-text-hold {
			display: none;
		}
	}

}
