
@color-background: #0b0b15;
@color-normal: #eee;
@color-alert: #bf3247;
@color-gray: #607f93;
@color-dark: #383c45;
@color-strong: #3aa5e6;

.clear-float() {
	content: ' ';
	display: block;
	clear: both;
}

.frame-border() {
	opacity: .2;
	border: 2px solid @color-normal;
}

.pseudo-block() {
	content: ' ';
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.cannot-select() {
	moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.bk {
	opacity: .5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1000;
	background: #fff;
	background-repeat: no-repeat;
	// background-size: 100%;
}
